def get_result_text(result, jezyk='pl'):
    if jezyk == 'Pl':
        return 'Prawda' if result else 'Falsz'
    else:
        return 'True' if result else 'False'

def main():
    # Read two variables from the user
    a = input("Podaj pierwsze slowo: ")
    b = input("Podaj drugie slowo: ")
    jezyk = input("Podaj jezyk (pl/en): ")

    print("I: ", get_result_text(a and b, jezyk))
    print("Albo: ", get_result_text(a or b, jezyk))
    print("Niestety: ", get_result_text(not a, jezyk))
    print(  "And: ", get_result_text(a & b, jezyk))
    print(" Or: ", get_result_text(a | b, jezyk))
    print(" Xor: ", get_result_text(a ^ b, jezyk))
    print(" Not: ", get_result_text(~a, jezyk))
    print(" Left Shift: ", get_result_text(a << b, jezyk))
    print(" Right Shift: ", get_result_text(a >> b, jezyk))

if __name__ == '__main__':
    main()
